<div type="user-info-dialog">
    <div class="btnGroup">
        <button class="btn cdi-btn-default left" ng-click="cancel()">取消</button>
        <button class="btn cdi-btn-blue right btn-save" ng-click="save()">保存</button>
        <div class="title">添加班级</div>
    </div>
    <div >
        <div class="content user-info" style="margin-top:10px;">
            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">学期</div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <input type="text" name="name" ng-model="data.semester.name" class="right form-control" readonly="" />
                </div>
            </div>

            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">班级编号*</div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <input type="text" name="number" ng-model="data.number" class="right form-control"/>
                </div>
            </div>

            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">教师</div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <select class="form-control right" style="width: 185px;"  ng-model="data.teacher"  ng-options="item.name for item in teachers track by item.id">
                        <option value="" selected="" id="tSelectedTag">--请选择教师--</option>
                    </select>
                </div>
            </div>
            <div class="row" ng-show="data.teacher!=undefined">
                <div class="cell title" style="width: 37%;height: 50px;">课程</div>
                <div class="cell" style="width: 63%;height: 50px;">
                   <select class="form-control right" style="width: 185px;"  ng-model="data.course"  ng-options="item.name for item in courses track by item.id">
                        <option value="">--请选择课程--</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="cell title" style="width: 37%;height: 45px;">上课时间</div>
                <div class="cell" style="width: 63%;height: 45px;">
                    <input type="text" name="name" ng-model="data.clazzHour" class="right form-control" placeholder="如：周一3,4"/>
                </div>
            </div>

            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">上课教室</div>
                <div class="cell" style="width: 63%;height: 50px;">
                   <input type="text" name="name" ng-model="data.clazzroom" class="right form-control" placeholder="如：南楼101"/>
                </div>
            </div>
            
            <div class="row">
                <div class="cell title" style="width: 37%;height: 45px;">描述</div>
                <div class="cell" style="width: 63%;height: 45px;">
                    <textarea  ng-model="data.description" class="right form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="slider2" style="margin-top: 16px;"></div>

        <div class="content">
            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;"></div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <span class="red">{{message}}</span>
                </div>
            </div>
        </div>
    </div>
</div>