<div type="user-info-dialog">
    <div class="btnGroup">
        <button class="btn cdi-btn-default left" ng-click="cancel()">取消</button>
        <button class="btn cdi-btn-blue right btn-save" ng-click="save()">保存</button>
        <div class="title">学期设置</div>
    </div>
    <div >
        <div class="content user-info" style="margin-top:10px;">
            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">学期名</div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <input type="text" ng-model="data.name" class="right form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">学期开始日期</div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <div class="dropdown right">
                        <a class="dropdown-toggle btn btn-danger"> <i class="icon-calendar">更改日期</i>
                        </a>
                        <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
                            <div date-picker="data.startDate" min-view="date" max-view"year"></div>
                        </div>
                    </div>
                    <input type="text" name="name" value="{{data.startDate|date:'yyyy-MM-dd'}}" class="right form-control" style="width:70%;" readonly="" />
                </div>
            </div>
            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">学期末日期</div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <div class="dropdown right">
                        <a class="dropdown-toggle btn btn-danger"> <i class="icon-calendar">更改日期</i>
                        </a>
                        <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
                            <div date-picker="data.endDate" min-view="date" max-view"year"></div>
                        </div>
                    </div>
                    <input type="text" name="name" value="{{data.endDate|date:'yyyy-MM-dd'}}" class="right form-control" style="width:70%;" readonly="" />
                </div>
            </div>
             
        </div>
        <div class="slider2" style="margin-top: 16px;"></div>
        
        <div class="content">
            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;"></div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <span class="red">{{message}}</span>
                </div>
            </div>
        </div>
    </div>
</div>