<div type="user-info-dialog" cdi-form-check>
    <div class="btnGroup">
        <button class="btn cdi-btn-default left" ng-click="cancel()">返回</button>
        <button class="btn right btn-danger  " ng-click="cancelStReservation(rId)">取消预约</button>
        <div class="title" style="padding-right:40px;">预约学生列表</div>
        
    </div>
    <div >
        <div class="content user-info" style="margin-top:10px;">
            <div class="tableContainer">
                        <table class="table scroll-table" style="height:360px;">
                            <thead>
                                <tr>
                                    <th style="width: 25px;"></th>
                                    <th style="width: 70px;">学号</th>
                                    <th style="width: 120px;">姓名</th>
                                    <th style="width: 106px;">专业</th>
                                    
                                    <th style="width: 20px;"></th>
                                </tr>
                            </thead>
                            <tbody style=" height: 350px; ">
                                <tr ng-repeat="st in data">
                                    <td style="width: 25px; border:none;"></td>
                                    <td style="width: 100px;">
                                        <span class="id">{{st.number}}</span>
                                    </td>
                                    <td style="width: 120px;">
                                        <span class="code">{{st.name}}</span>
                                    </td>
                                    <td style="width: 200px;">
                                        <span class="date">{{st.major}}</span>
                                    </td>
                                    
                                    <td style="width: 20px; border:none;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            
        </div>
        

        <div class="slider2" style="margin-top: 5px;"></div>
        <div class="content">
            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;"></div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <span class="red">{{message}}</span>
                </div>
            </div>
        </div>
    </div>
</div>