    <div type="user-info-dialog" style="width=700px;">
        <div class="btnGroup">
            <button class="btn cdi-btn-default left" ng-click="cancel()">取消</button>
            <!-- <button class="btn cdi-btn-blue right btn-save" ng-click="save()">保存</button> -->
            <div class="title">实验记录</div>
        </div>
        <div class="content">
            <h2  style="text-align:center;">金属拉伸实验</h2>

            <div style="text-align:center;">
                <h5>2014 ~ 2015年第一学期</h5>
                <h5>课程: 材料力学</h5>
                <h5>学号: 1334903</h5>
                <h5>姓名: 黄大根</h5>
            </div>
            
            <h4>实验记录</h4>

            <table class="table table-bordered">
                <thead>
                    <tr>
                     
                        <th style="width: 100px;">实验日期
                        </th>
                        <th style="width: 100px;">实验室名称
                        </th>
                        <th style="width: 142px;">实验室管理员
                        </th>
                        <th style="width: 110px;">实验报告
                        </th>
                        
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td style="width: 70px;">
                            <span class="id">2014-10-10</span>
                        </td>
                        <td style="width: 133px;">
                            <span class="code">北楼1</span>
                        </td>
                        
                        <td style="width: 100px;">
                          <span class="id">黄大根</span>
                      </td>
                      <td style="width: 100px;">
                          <span class="id"><a href="test">test.doc</a></span>
                      </td>
                      
                      
                      
                  </tr>
                  
                  <tr>
                      
                    <td style="width: 70px;">
                        <span class="id">2014-10-10</span>
                    </td>
                    <td style="width: 133px;">
                        <span class="code">北楼1</span>
                    </td>
                    
                    <td style="width: 100px;">
                      <span class="id">黄大根</span>
                  </td>
                  <td style="width: 100px;">
                      <span class="id"><a href="test">test.doc</a></span>
                  </td>
                  
                  
              </tr>
          </tbody>
      </table>

      

  </div>

  <div>
    <div class="content user-info" style="margin-top:10px;">
        <div class="row">
            <div class="cell title" style="width: 37%;height: 50px;">实验报告</div>
            <div class="cell" style="width: 63%;height: 50px;">
                <label><a href="fdsafsadf">fsdaf.doc</a></label>
            </div>
        </div>
        <div class="row">
            <div class="cell title" style="width: 37%;height: 50px;">实验分数</div>
            <div class="cell" style="width: 63%;height: 50px;">
                <label>{{data.grade}}</label>
            </div>
        </div>
        <div class="row">
            <div class="cell title" style="width: 37%;height: 50px;">实验评语</div>
            <div class="cell" style="width: 63%;height: 50px;">
                <label>{{data.comment}}</label>
            </div>
        </div>
        
    </div>
    <div class="slider2" style="margin-top: 16px;"></div>
    
    <div class="content">
        <div class="row">
            <div class="cell title" style="width: 37%;height: 50px;"></div>
            <div class="cell" style="width: 63%;height: 50px;">
                <span class="red">{{message}}</span>
            </div>
        </div>
    </div>
</div>
</div>