<div class="portal-footer">
	<div class="portal-footer-wrapper">
		<ul class="portal-footer-nav">
			<li>同济大学力学实验中心</li>
			<li><a href="javascript:;">精品课程</a></li>
			<li><a href="javascript:;">力学模拟平台</a></li>
			<li><a href="javascript:;">开放实验</a></li>
		</ul>

		<ul class="portal-footer-nav">
			<li>友情链接</li>
			<li><a href="javascript:;">高等学校实验教学示范中心</a></li>
			<li><a href="javascript:;">中国教育部</a></li>
			<li><a href="javascript:;">浙江大学力学实验中心</a></li>
			<li><a href="javascript:;">同济大学航空航天与力学学院</a></li>
			<li><a href="javascript:;">同济大学物理系教育系统</a></li>
		</ul>

		<ul class="portal-footer-nav">
			<li>同济大学力学系</li>
			<li><a href="javascript:;">项目和应用</a></li>
		</ul>

		<div class="portal-footer-name">同济大学力学实验中心</div>
		<div class="portal-footer-copyright">Copyrights © 2015 , All rights reserved.</div>
	</div>
</div>