<div type="user-info-dialog">
    <div class="btnGroup">
        <button class="btn cdi-btn-default left" ng-click="cancel()">取消</button>
        <button class="btn cdi-btn-blue right btn-save" ng-click="save()">保存</button>
        <div class="title">开启学生预约</div>
    </div>
    <div >
        <div class="content user-info" style="margin-top:10px;">
            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">学期</div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <input type="text" name="name" ng-model="data.semester.name" class="right form-control" readonly="" />
                </div>
            </div>

            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">预约日期</div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <div class="dropdown right">
                        <a class="dropdown-toggle btn btn-danger"> <i class="icon-calendar">更改日期</i>
                        </a>
                        <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
                            <div date-picker="data.applyDate" min-view="date" max-view"year"></div>
                        </div>
                    </div>
                    <input type="text" name="name" value="{{data.applyDate|date:'yyyy-MM-dd'}}" class="right form-control" style="width:70%;" readonly="" />
                </div>
            </div>

            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">实验</div>
                <div class="cell" style="width: 63%;height: 50px;">
                   <select class="form-control right" style="width: 185px;"  ng-model="data.exp"  ng-options="item.name for item in exps track by item.id" ng-change="expChanged()">
                        <option value="">--请选择实验--</option>
                    </select>
                </div>
            </div>

            <div class="row" ng-show="data.exp != undefined">
                <div class="cell title" style="width: 37%;height: 50px;">实验室</div>
                <div class="cell" style="width: 63%;height: 50px;">
                   <select class="form-control right" style="width: 185px;"  ng-model="data.lab"  ng-options="item.name for item in labs track by item.id">
                        <option value="">--请选择实验室--</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">时间</div>
                <div class="cell" style="width: 63%;height: 50px;">
                   <select class="form-control right" style="width: 185px;"  ng-model="data.slot"  ng-options="item.title for item in slots track by item.id">
                        <option value="">--请选择预约时间--</option>
                    </select>
                </div>
            </div>
            
            <div class="row" ng-show="data.lab != undefined">
                <div class="cell title" style="width: 37%;height: 50px;">实验室容量</div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <label class="right">请不要提交多于 
                    <span style="font-size:15px;color:red;">{{data.lab.capacity}}</span> 人的预约
                    </label>
                </div>
            </div>
            
            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">预约人数</div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <input type="number" name="name" ng-model="data.maxCount" class="right form-control"  />
                </div>
            </div>
            
            <div class="row">
                <div class="cell title" style="width: 37%;height: 45px;">备注</div>
                <div class="cell" style="width: 63%;height: 45px;">
                    <textarea  ng-model="data.description" class="right form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="slider2" style="margin-top: 16px;"></div>

        <div class="content">
            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;"></div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <span class="red">{{message}}</span>
                </div>
            </div>
        </div>
    </div>
</div>