<div class="portal-page-wrapper">
	<div class="portal-page-content">
		
		<div class="portal-page-title">扭转试验</div>
		<div class="portal-page-sub-title">实验分数 暂无</div>

		<div class="portal-course-detail-item">
			<div class="info-title">
				详细信息
			</div>
			<table class="info-table">
				<tbody>
					<tr>
						<td class="info-label">日期</td>
						<td>2014～2015第二学期</td>
						<td class="info-label">课程</td>
						<td>工程力学</td>
					</tr>
					<tr>
						<td class="info-label">姓名</td>
						<td>用户A</td>
						<td class="info-label">学号</td>
						<td>120034</td>
					</tr>
					<tr>
						<td class="info-label">实验评语</td>
						<td colspan="3">
							<div class="comment-content">评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长</div></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="portal-course-detail-item">
			<div class="info-title">
				详细记录
			</div>
			<ul class="info-list">
				<li>
					<span>&nbsp;&bull;&nbsp;时间:&nbsp;2015-05-20 9:24:03</span>
					<a href="javascript:;" class="link">下载实验文件</a>
				</li>	
				<li>
					<span>&nbsp;&bull;&nbsp;时间:&nbsp;2015-05-20 9:24:03</span>
					<a href="javascript:;" class="link">下载实验文件</a>
				</li>
			</ul>
		</div>

		<div class="portal-course-detail-item">
			<div class="info-title">
				实验图片
			</div>
			<div class="info-img">
				<img src="/images/portal/demo/exp-demo.png"/>
				<img src="/images/portal/demo/exp-demo.png"/>
				<img src="/images/portal/demo/exp-demo.png"/>
				<img src="/images/portal/demo/exp-demo.png"/>
				<img src="/images/portal/demo/exp-demo.png"/>
			</div>
		</div>
		
	</div>
</div>