<div class="portal-page-wrapper">
	<div class="portal-page-content">
		<div class="portal-page-title">通知中心</div>
		<div class="portal-page-sub-title">这里显示了所有与你相关的提醒消息</div>

		<tabset class="portal-page-tabs notification" style="margin-top: 25px;">
	    <tab>
	    	<tab-heading>所有通知</tab-heading>
	    	<div class="portal-notification-item">
	    		“扭转实验”这门课下学期不开了啊啊啊啊
	    		<div class="notification-time">07-30 15:10</div>
	    	</div>

	    	<div class="portal-notification-item">
	    		(这是一条已读的消息)扭转实验”这门课下学期不开了啊啊啊啊啊哈哈哈哈，花非花大da搭架伐看的撒加反馈都是
	    		<div class="notification-time">07-30 15:10</div>
	    	</div>
	    </tab>

	    <tab>
	    	<tab-heading>未读通知&nbsp;&nbsp;<span>2</span></tab-heading>
	    	<div></div>
	    </tab>

	    <tab>
	    	<tab-heading>系统通知</tab-heading>
	    	<div></div>
	    </tab>
	  </tabset>

	  <div class="portal-page-buttons">
	  	<a href="javascript:;" class="portal-button portal-button-default" style="width: 110px;">查看更多</a>
	  </div>
</div>