<div class="portal-page-wrapper">
	<div class="portal-page-content">
		<div class="portal-page-title">我的班级</div>
		<div class="portal-page-sub-title">共 3 个</div>

		<tabset class="portal-page-tabs course-item teacher" style="margin-top: 45px;">
			<tab>
				<tab-heading>工程力学</tab-heading>
				<div class="portal-class-item">
				
					<div class="student-num"><a href="#/portal/student">102名学生</a></div>
					<div class="student-import">
						<a href="javascript:;" class="portal-button portal-button-default">导入学生</a>
					</div>	
					<div class="clearfix" style="margin-bottom: 10px;"></div>

					<div class="portal-class-detail-item" ng-click="onClickClassItem(1)">
  					<div class="course-title">扭转试验<span class="reservation">[预约]</span></div>
  					<div class="course-status"><span class="commit">&nbsp;&bull;&nbsp;</span>已预约3个时段 共120人</div>
  					<div class="course-statistic">
  						<div class="statistic-label">实验完成率</div>
  						<div class="statistic-num" style="width: 90px;">4/102</div>

  						<div class="statistic-label">实验批改率</div>
  						<div class="statistic-num">0/102</div>
  					</div>
  					<div class="clearfix"></div>
  				</div>

  				<div class="portal-class-detail-item">
  					<div class="course-title">扭转试验<span class="reservation">[预约]</span></div>
  					<div class="course-status"><span class="uncommit">&nbsp;&bull;&nbsp;</span>未预约</div>
  					<div class="course-statistic">
  						<div class="statistic-label">实验完成率</div>
  						<div class="statistic-num" style="width: 90px;">4/102</div>

  						<div class="statistic-label">实验批改率</div>
  						<div class="statistic-num">0/102</div>
  					</div>
  					<div class="clearfix"></div>
  				</div>

				</div>
			</tab>
			<tab>
				<tab-heading>电力学</tab-heading>
			</tab>
			<tab>
				<tab-heading>软件工程</tab-heading>
			</tab>
		</tabset>
</div>