<div class="portal-page-wrapper">
	<div class="portal-page-content">
		<div class="portal-page-title">学生名单</div>
		<div class="portal-page-sub-title">
			<span class="course-name">120101 工程力学</span>
			<span class="student-num">共102名学生</span>
			<span class="print-list"><a href="javascript:;">打印名单</a></span>
		</div>

		<div class="portal-page-buttons">
	  	<a href="javascript:;" class="portal-button portal-button-default">导入学生</a>
	  </div>

	  <div class="portal-page-line" style="margin-bottom: 40px;"></div>

	  <table class="portal-student-table">
	  	<tr>
	  		<td>黄玉栋</td>
	  		<td>120405</td>
	  		<td>汽车工程</td>
	  	</tr>

	  	<tr>
	  		<td>黄玉栋</td>
	  		<td>120405</td>
	  		<td>汽车工程</td>
	  	</tr>

	  	<tr>
	  		<td>黄玉栋</td>
	  		<td>120405</td>
	  		<td>汽车工程</td>
	  	</tr>
	  </table>

	  <div class="portal-page-buttons">
	  	<a href="javascript:;" class="portal-button portal-button-default">查看更多</a>
	  </div>
</div>