<div class="portal-page-wrapper">
	<div class="portal-page-content">

		<div class="portal-page-title">实验记录</div>
		<div class="portal-page-sub-title">共 4 条</div>

		<tabset class="portal-page-tabs home" style="margin-top: 25px;">
	    <tab>
	    	<tab-heading>已提交&nbsp;&nbsp;<span>2</span></tab-heading>
	    	<div class="portal-course-detail-item">
	    		<table class="table table-hover course-table">
	    		<thead>
	    			<tr>
	    				<td>学号</td>
	    				<td>姓名</td>
	    				<td>实验状态</td>
	    				<td>分数</td>
	    				<td>评语</td>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr ng-click="onClickCourseItem(1)">
	    				<td>1230499</td>
	    				<td>周云霄</td>
	    				<td><span class="uncommit">&nbsp;&bull;&nbsp;</span>未提交</td>
	    				<td>50</td>
	    				<td class="comment">
	    					<div class="comment-block">
	    						评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长
	    					</div>
	    				</td>
	    			</tr>

	    			<tr>
	    				<td>1230499</td>
	    				<td>周云霄</td>
	    				<td><span class="commit">&nbsp;&bull;&nbsp;</span>已提交</td>
	    				<td>50</td>
	    				<td class="comment">
	    					<div class="comment-block">
	    						评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长评语一定要长
	    					</div>
	    				</td>
	    			</tr>
	    		</tbody>
	    		</table>
	    	</div>
	    </tab>

	    <tab>
	    	<tab-heading>未提交&nbsp;&nbsp;<span>2</span></tab-heading>
	    </tab>
	  </tabset>

  	<div class="portal-page-buttons">
	  	<a href="javascript:;" class="portal-button portal-button-default">查看更多</a>
	  </div>
		
	</div>
</div>