<div class="portal-page-wrapper">
	<div class="portal-page-content">
		<div class="portal-page-title">个人设置</div>

		<table class="portal-setting-table" style="margin-top: 25px;">
			<tbody>
				<tr>
					<td class="setting-label">账号</td>
					<td>
						<input type="text" class="form-control setting-input">
					</td>
				</tr>
				<tr>
					<td class="setting-label">角色</td>
					<td>
						<input type="text" class="form-control setting-input">
					</td>
				</tr>
				<tr>
					<td class="setting-label">姓名</td>
					<td>
						<input type="text" class="form-control setting-input">
					</td>
				</tr>
				<tr>
					<td class="setting-label">性别</td>
					<td>
						<select class="form-control setting-select">
						  <option>男</option>
						  <option>女</option>
						</select>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><a href="javascript:;" class="portal-button portal-button-primary">提交</a></td>
				</tr>
			</tbody>
		</table>

		<div class="portal-page-line" style="margin: 40px 0 55px 0;"></div>

		<div class="portal-page-title">修改密码</div>

		<table class="portal-setting-table" style="margin-top: 25px;">
			<tbody>
				<tr>
					<td class="setting-label">旧密码</td>
					<td>
						<input type="password" class="form-control setting-input">
					</td>
				</tr>
				<tr>
					<td class="setting-label">新密码</td>
					<td>
						<input type="password" class="form-control setting-input">
					</td>
				</tr>
				<tr>
					<td class="setting-label">确认新密码</td>
					<td>
						<input type="password" class="form-control setting-input">
					</td>
				</tr>
				<tr>
					<td></td>
					<td><a href="javascript:;" class="portal-button portal-button-primary">确认</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>