<!-- <link rel="stylesheet" href="/styles/blog.css"> -->
<lab-header></lab-header>
<div class="container">
  <div class="command-nav-container">
    <tabset>
      
    <tab name=""  active="true">
      <tab-heading class="users help" >
        <span class="title">
          帮助中心
          <!-- <label class="label label-success pull-right" style="margin-top:5px;margin-right:40px;"></label> -->
        </span>
        <span class="info">系统帮助中心</span>
      </tab-heading>
      <div class="command-content-container user" style="background-color: #f1f1f1;">
        <tabset vertical="true" type="pills">
          <tab disabled="true">
            <tab-heading>
              <span class="name">帮助手册(在线版)</span>
            </tab-heading>
          </tab>

          <tab class="sub" active="true">
            <tab-heading>
              <span class="name">教师帮助手册</span>
            </tab-heading>
            <div class="tableContainer">
              <table class="table">
                <thead>
                  <tr class="op-tr">
                    <th style="width: 15px;"></th>
                    <th style="width: 400px;">
                    </th>
                    <th style="width: 250px; text-align:right;">
                      <a href="/files/LabConsole教师手册v1.pdf" target="_blank">
                        <button class="btn cdi-btn-default cdi-btn-blue" style="width:100px;">下载PDF版</button>
                      </a>
                    </th>
                  </tr>
                </thead>
              </table>
            </div>

            <section id="main" style="width:100%;">
              <article id="post-raml-init" class="article article-type-post" itemscope="" itemprop="blogPost">
                <div class="article-inner">

                  <header class="article-header">

                    <h1 class="article-title" itemprop="name">LabConsole教师手册v1</h1>

                    <div class="article-meta">
                      <div class="article-date"> <i class="fa fa-calendar"></i>
                        <a>
                          更新时间:
                          <time datetime="2015-06-05T09:48:26.000Z" itemprop="datePublished">2015-06-05</time>
                        </a>
                      </div>

                    </div>
                  </header>
                  <div class="article-entry" itemprop="articleBody">

                    <p>
                      <a target="_blank" href="/images/doc/Snip20150605_77.png" title="MacDown logo" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150605_77.png" alt="MacDown logo"></a>
                      <span class="caption">MacDown logo</span>
                    </p>
                    <p>本文档将介绍教师的使用流程，并对业务部分进行解释。</p>
                    <h2 id="综述">综述</h2>
                    <p>教师可以通过lab console 进行如下工作：</p>
                    <ul class="doc-ul">
                      <li>
                        登陆labconsole
                        <ul class="doc-ul">
                          <li>进入LabConsole的主页，工号密码进行登陆</li>
                          <li>退出登录</li>
                        </ul>
                      </li>
                      <li>
                        个人信息管理
                        <ul class="doc-ul">
                          <li>密码遗失可以通过联系管理员重置密码</li>
                          <li>可以在自己的主页上修改头像、个人信息、密码等个人资料</li>
                        </ul>
                      </li>
                      <li>
                        查看实验预约
                        <ul class="doc-ul">
                          <li>可以在提醒列表中查看自己申请的预约及其审批状况</li>
                        </ul>
                      </li>
                      <li>
                        预约实验室
                        <ul class="doc-ul">
                          <li>可在日程表中查看自己的实验室预约</li>
                          <li>
                            通过日历的方式选择相应的日期进行预约
                            <ul class="doc-ul">
                              <li>可以取消已经完成，但是管理员尚未批准的预约</li>
                              <li>管理员已经批准的预约不可取消</li>
                            </ul>
                          </li>
                          <li>已经批准的预约出现在“查看实验预约”的“我的预约”栏目中</li>
                        </ul>
                      </li>
                      <li>
                        查看本学期所教授班级的学生实验记录
                        <ul class="doc-ul">
                          <li>查看本学期自己名下的班级</li>
                          <li>为班级添加学生列表</li>
                          <li>班级下可查看学生名单</li>
                          <li>在班级中可以查看本班级需要完成的实验，以及实验完成的情况</li>
                          <li>可以查看本班级学生每个实验完成的情况，下载实验数据以及实验报告，并评分。</li>
                        </ul>
                      </li>
                    </ul>
                    <h2 id="登录">登录</h2>
                    <ul class="doc-ul">
                      <li>在LabConsole主页上输入工号和密码。</li>
                    </ul>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150605_6.png" title="使用新账号登陆" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150605_6.png" alt="使用新账号登陆"></a>
                      <span class="caption">使用新账号登陆</span>
                    </p>
                    <ul class="doc-ul">
                      <li>
                        登录成功后，进入教师主界面。
                        <br>注意： 如果忘记密码，可以请求管理员重置密码后登录。</li>
                    </ul>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150605_11a.png" title="" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150605_11a.png" alt=""></a>
                    </p>
                    <ul class="doc-ul">
                      <li>点击右上角的个人信息图标，进行个人资料更新。</li>
                    </ul>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150605_121.png" title="" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150605_121.png" alt=""></a>
                    </p>
                    <p>进入个人更新主页</p>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150605_7a.png" title="" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150605_7a.png" alt=""></a>
                    </p>
                    <ul class="doc-ul">
                      <li>为自己选择新头像。</li>
                    </ul>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150605_9a.png" title="上传新头像" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150605_9a.png" alt="上传新头像"></a>
                      <span class="caption">上传新头像</span>
                    </p>
                    <ul class="doc-ul">
                      <li>编辑个人资料。可以修改个人信息。</li>
                    </ul>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150605_10a.png" title="编辑个人资料" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150605_10a.png" alt="编辑个人资料"></a>
                      <span class="caption">编辑个人资料</span>
                    </p>
                    <ul class="doc-ul">
                      <li>建议初次登录后立即修改初始密码。</li>
                    </ul>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150605_13.png" title="修改密码" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150605_13.png" alt="修改密码"></a>
                      <span class="caption">修改密码</span>
                    </p>
                    <h2 id="查看预约">查看预约</h2>
                    <ul class="doc-ul">
                      <li>在日历中查看实验安排。其中申请通过的预约为绿色，尚未批准的预约为红色</li>
                    </ul>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150605_15a.png" title="" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150605_15a.png" alt=""></a>
                    </p>
                    <ul class="doc-ul">
                      <li>实验预约日程表可以查看某一月、某一周和某一日的日程安排</li>
                    </ul>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150605_161.png" title="" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150605_161.png" alt=""></a>
                    </p>
                    <ul class="doc-ul">
                      <li>
                        在列表中查看实验预约通知。
                        <ul class="doc-ul">
                          <li>已经批准的预约</li>
                        </ul>
                      </li>
                    </ul>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150605_17.png" title="" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150605_17.png" alt=""></a>
                    </p>
                    <ul class="doc-ul">
                      <li>尚未批准的预约</li>
                    </ul>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150605_18a.png" title="" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150605_18a.png" alt=""></a>
                    </p>
                    <ul class="doc-ul">
                      <li>实效的预约</li>
                    </ul>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150605_20a.png" title="" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150605_20a.png" alt=""></a>
                    </p>
                    <h2 id="我的班级">我的班级</h2>
                    <pre><code>注意：
在我的班级中查看自己本学期的班级。班级包括学生的名单，实验列表，以及每个实验的的学生数据记录
</code></pre>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150606_23.png" title="" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150606_23.png" alt=""></a>
                    </p>
                    <ul class="doc-ul">
                      <li>
                        对于新添加的班级，教师需要将教务处的学生名单上传，生成学生纪录。教师添加的学生，将生成学生的账户信息，学生因此可以使用学号和初始密码登录。
                      </li>
                    </ul>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150606_24.png" title="" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150606_24.png" alt=""></a>
                    </p>
                    <ul class="doc-ul">
                      <li>被导入的学生名单的格式如下。</li>
                    </ul>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150606_25.png" title="" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150606_25.png" alt=""></a>
                    </p>
                    <pre><code>注意：
由于系统的兼容性问题，教务处网站下载的班级学生名单，需要进行另存为操作，才可以被LabConsole接收。
</code></pre>
                    <ul class="doc-ul">
                      <li>上传后，查看学生名单可以看到学生名单纪录</li>
                    </ul>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150606_26.png" title="" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150606_26.png" alt=""></a>
                    </p>
                    <p>实验计划。在实验列表下，教师可以看到实验完成的情况，并进行相应的批改</p>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150605_27.png" title="" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150605_27.png" alt=""></a>
                    </p>
                    <ul class="doc-ul">
                      <li>在学生完成实验之后，教师可以点击查看学生的实验记录。</li>
                    </ul>
                    <p>
                      <a target="_blank" href="/images/doc/Snip20150605_@@.png" title="" class="fancybox" rel="article0">
                        <img src="/images/doc/Snip20150605_@@.png" alt=""></a>
                    </p>

                  </div>

                </article>
              </section>

            </tab>

            <tab class="sub">
              <tab-heading>
                <span class="name">学生帮助手册</span>
              </tab-heading>

              <div class="tableContainer">
                <table class="table">
                  <thead>
                    <tr class="op-tr">
                      <th style="width: 15px;"></th>
                      <th style="width: 400px;">
                        
                      </th>
                      <th style="width: 250px;text-align:right;">
                        <a href="/files/LabConsole学生手册v1.pdf" target="_blank">
                          <button class="btn cdi-btn-default cdi-btn-blue" style="width:100px;">下载PDF版</button>
                        </a>
                      </th>
                    
                    </tr>
                  </thead>
                </table>
              </div>
              <section id="main" style="width:100%;">
                <article id="post-raml-init" class="article article-type-post" itemscope="" itemprop="blogPost">
                  <div class="article-inner">

                    <header class="article-header">

                      <h1 class="article-title" itemprop="name">LabConsole学生手册v1</h1>

                      <div class="article-meta">
                        <div class="article-date"> <i class="fa fa-calendar"></i>
                          <a>
                            更新时间:
                            <time datetime="2015-06-05T09:48:26.000Z" itemprop="datePublished">2015-06-05</time>
                          </a>
                        </div>

                      </div>
                    </header>

                    <div class="article-entry" itemprop="articleBody"></div>
                    <div class="article-entry" itemprop="articleBody">

                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_77.png" title="MacDown logo" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_77.png" alt="MacDown logo"></a>
                        <span class="caption">MacDown logo</span>
                      </p>
                      <p>本文档将介绍学生的使用流程，并对业务部分进行解释。</p>
                      <h2 id="综述">综述</h2>
                      <p>学生可以通过lab console 进行如下工作：</p>
                      <ul class="doc-ul">
                        <li>登陆labconsole</li>
                        <li>进入LabConsole的主页，输入学号密码进行登陆</li>
                        <li>退出登录</li>
                        <li>个人信息管理</li>
                        <li>密码遗失可以通过联系管理员重置密码</li>
                        <li>可以在自己的主页上修改头像、个人信息、密码等个人资料</li>
                        <li>查看实验预约</li>
                        <li>查看教师为学生所在班级预约的实验。</li>
                        <li>本学期，分当前预约（日期为今天及以后），和已过期预约</li>
                        <li>状态为教师为本班级预约，且管理员已经批准的</li>
                        <li>个人预约实验</li>
                        <li>对于开放个人预约的实验，可以申请加入</li>
                        <li>查看自己已经选修过的课程（过往学期和本学期）</li>
                        <li>查看当前学期的课程以及实验记录</li>
                        <li>实验数据(LabShell上传）</li>
                        <li>实验报告(自己下载完成并上传）</li>
                        <li>实验成绩以及实验评价（教师输入）</li>
                      </ul>
                      <p>
                        注意：
                        <br>
                        学生的账号是通过教师提交班级名单建立的。学生第一次登录，使用初始密码“222222”。并且在第一次登陆后尽快修改初始密码。
                      </p>
                      <h2 id="登录">登录</h2>
                      <ul class="doc-ul">
                        <li>在LabConsole主页上输入学号和密码。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150606_29.png" title="使用新账号登陆" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150606_29.png" alt="使用新账号登陆"></a>
                        <span class="caption">使用新账号登陆</span>
                      </p>
                      <ul class="doc-ul">
                        <li>
                          登录成功后，进入学生主界面。
                          <br>注意： 如果忘记密码，可以请求管理员重置密码后登录。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150606_30.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150606_30.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>点击右上角的个人信息图标，进行个人资料更新。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150606_31.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150606_31.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>为自己选择新头像。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150606_33.png" title="上传新头像" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150606_33.png" alt="上传新头像"></a>
                        <span class="caption">上传新头像</span>
                      </p>
                      <ul class="doc-ul">
                        <li>编辑个人资料。可以修改个人信息。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150606_34.png" title="编辑个人资料" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150606_34.png" alt="编辑个人资料"></a>
                        <span class="caption">编辑个人资料</span>
                      </p>
                      <ul class="doc-ul">
                        <li>建议初次登录后立即修改初始密码。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150606_35.png" title="修改密码" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150606_35.png" alt="修改密码"></a>
                        <span class="caption">修改密码</span>
                      </p>
                      <h2 id="查看预约">查看预约</h2>
                      <ul class="doc-ul">
                        <li>在日历中查看实验安排。</li>
                      </ul>
                      <p>
                        注意：
                        <br>学生只能看到已经批准的预约。</p>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150606_36.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150606_36.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>
                          <p>实验预约日程表可以查看某一月、某一周和某一日的日程安排</p>
                        </li>
                        <li>
                          <p>在列表中查看实验预约通知。</p>
                        </li>
                      </ul>
                      <ul class="doc-ul">
                        <li>开放可供自己预约的实验</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150606_38.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150606_38.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>班级预约</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150606_37.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150606_37.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>自己已经预约成功的实验</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150606_39.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150606_39.png" alt=""></a>
                      </p>
                      <h2 id="我的课程">我的课程</h2>
                      <p>
                        注意：
                        <br>在我的班级中查看自己本学期的课程。我的班级包括自己名下的每个实验记录。</p>
                      <ul class="doc-ul">
                        <li>查看我的课程</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150606_.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150606_.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>查看我班级名下的实验</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150606_40.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150606_40.png" alt=""></a>
                      </p>

                    </div>
                  </div>

                </article>
              </section>
            </tab>
            <tab class="sub" >
              <tab-heading>
                <span class="name">管理员帮助手册</span>
              </tab-heading>

              <div class="tableContainer">
                <table class="table ">
                  <thead>
                    <tr class="op-tr">
                      <th style="width: 15px;"></th>
                      <th style="width: 400px;">
                       
                      </th>
                      <th style="width: 250px;text-align:right;">
                         <a href="/files/LabConsole管理员手册v1.pdf" target="_blank">
                          <button class="btn cdi-btn-default cdi-btn-blue" style="width:100px;">下载PDF版</button>
                        </a>
                      </th>
                    </tr>
                  </thead>
                </table>
              </div>

              <section id="main" style="width:100%;">
                <article id="post-raml-init" class="article article-type-post" itemscope="" itemprop="blogPost">
                  <div class="article-inner">

                    <header class="article-header">

                      <h1 class="article-title" itemprop="name">LabConsole管理员手册v1</h1>

                      <div class="article-meta">
                        <div class="article-date">
                          <i class="fa fa-calendar"></i>
                          <a>
                            更新时间:
                            <time datetime="2015-06-05T09:48:26.000Z" itemprop="datePublished">2015-06-05</time>
                          </a>
                        </div>

                      </div>
                    </header>

                    <div class="article-entry" itemprop="articleBody">

                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_77.png" title="MacDown logo" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_77.png" alt="MacDown logo"></a>
                        <span class="caption">MacDown logo</span>
                      </p>
                      <p>本文档将介绍管理员的使用流程，并对业务部分进行解释。</p>
                      <h2 id="综述">综述</h2>
                      <p> <strong>LabConsole</strong>
                        帮助实验室管理员进行完备的实验室设备、使用人员以及实验室预约分配流程的管理。
                        <br>实验室管理员可以在LabConsole上进行如下工作:</p>
                      <ul class="doc-ul">
                        <li>
                          LabConsole用户管理
                          <ul class="doc-ul">
                            <li>管理员权限管理</li>
                            <li>实验课教师权限管理</li>
                            <li>管理员权限管理</li>
                            <li>学生权限管理</li>
                          </ul>
                        </li>
                        <li>
                          实验资源管理
                          <ul class="doc-ul">
                            <li>实验室管理</li>
                            <li>试验机管理</li>
                            <li>（实验中心所支持的）实验管理</li>
                            <li>（实验中心所支持的）课程管理</li>
                          </ul>
                        </li>
                        <li>
                          学期课程管理
                          <ul class="doc-ul">
                            <li>学期管理</li>
                            <li>本学期课程添加和配置管理</li>
                          </ul>
                        </li>
                        <li>
                          实验预约日程表管理
                          <ul class="doc-ul">
                            <li>实验室预约日程表管理</li>
                            <li>为教师预约实验</li>
                            <li>开放学生自行预约实验</li>
                          </ul>
                        </li>
                        <li>
                          实验预约的审批流程
                          <ul class="doc-ul">
                            <li>对实验室预约申请的审批</li>
                            <li>对已经通过的预约，配置实验室管理人员</li>
                          </ul>
                        </li>
                      </ul>
                      <h2 id="创建新的管理员账号并登录">创建新的管理员账号并登录</h2>
                      <p>首先需要系统管理员账号登入系统（请咨询系统管理员）。</p>
                      <ul class="doc-ul">
                        <li>添加系统管理员</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_11.png" title="添加系统管理员" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_11.png" alt="添加系统管理员"></a>
                        <span class="caption">添加系统管理员</span>
                      </p>
                      <ul class="doc-ul">
                        <li>使用搜索功能，在列表中查询新添加的管理员记录。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_12.png" title="查询新添加纪录" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_12.png" alt="查询新添加纪录"></a>
                        <span class="caption">查询新添加纪录</span>
                      </p>
                      <ul class="doc-ul">
                        <li>查看新添加的管理员记录并修改其个人信息。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_14.png" title="查看详情并修改资料" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_14.png" alt="查看详情并修改资料"></a>
                        <span class="caption">查看详情并修改资料</span>
                      </p>
                      <ul class="doc-ul">
                        <li>管理员默认密码为“222222”， 在此设置新密码。此功能可用于用户密码重置。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_10.png" title="修改密码" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_10.png" alt="修改密码"></a>
                        <span class="caption">修改密码</span>
                      </p>
                      <ul class="doc-ul">
                        <li>使用新添加的账户进行登录。在LabConsole主页上输入用户名和密码。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_15.png" title="使用新账号登陆" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_15.png" alt="使用新账号登陆"></a>
                        <span class="caption">使用新账号登陆</span>
                      </p>
                      <ul class="doc-ul">
                        <li>
                          登录成功后，进入管理员主界面。
                          <br>注意： 如果忘记密码，可以请求其他管理员重置密码后登录，参见Step 4.</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_16.png" title="管理员主界面" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_16.png" alt="管理员主界面"></a>
                        <span class="caption">管理员主界面</span>
                      </p>
                      <ul class="doc-ul">
                        <li>点击右上角的个人信息图标，进行个人资料更新。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_18.png" title="修改个人资料" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_18.png" alt="修改个人资料"></a>
                        <span class="caption">修改个人资料</span>
                      </p>
                      <ul class="doc-ul">
                        <li>为自己选择新头像。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_20.png" title="上传新头像" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_20.png" alt="上传新头像"></a>
                        <span class="caption">上传新头像</span>
                      </p>
                      <ul class="doc-ul">
                        <li>编辑个人资料。可以修改姓名，性别，职务等信息。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_21.png" title="编辑个人资料" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_21.png" alt="编辑个人资料"></a>
                        <span class="caption">编辑个人资料</span>
                      </p>
                      <ul class="doc-ul">
                        <li>建议初次登录后立即修改初始密码。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_22.png" title="修改密码" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_22.png" alt="修改密码"></a>
                        <span class="caption">修改密码</span>
                      </p>
                      <p>至此，新用户“111111-AdminDemo” 已经建立，并且可以使用系统中的管理员特权。</p>
                      <h2 id="用户管理">用户管理</h2>
                      <p>
                        LabConsole 管理员通过“用户管理”功能管理所有使用本实验中心资源的用户。包括：
                        <br>
                        ＊ 系统管理员
                        <br>
                        ＊ 实验中心教师
                        <br>
                        ＊ 实验教师
                        <br>
                        ＊ 任课教师
                        <br>
                        ＊ 实验教师兼任课教师
                        <br>＊ 实验中心学生</p>
                      <p>
                        其中， <strong>管理员</strong>
                        和
                        <strong>教师</strong>
                        是通过管理员身份用户逐一独立添加的。而学生用户可以通过独立界面逐一添加，也可以通过教务处上课名单上传批量添加。
                      </p>
                      <p>点击主导航栏中的“用户账户”图标进入用户管理。</p>
                      <h3 id="用户查看">用户查看</h3>
                      <ul class="doc-ul">
                        <li>
                          在左导航栏的“用户类别”中选择’
                          <strong>系统管理员</strong>
                          ‘。查看所有的系统管理员。
                        </li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_23.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_23.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>
                          在左导航栏的“用户类别”中选择’
                          <strong>教师</strong>
                          ‘。查看教师账户。
                        </li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_24.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_24.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>
                          在左导航栏的“用户类别”中选择’
                          <strong>学生</strong>
                          ‘。查看学生账户。
                        </li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_25.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_25.png" alt=""></a>
                      </p>
                      <h3 id="添加教师账户">添加教师账户</h3>
                      <ul class="doc-ul">
                        <li>教师列表右上方可以看到添加教师按钮，点击后，从弹出窗口中添加教师。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_26.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_26.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>通过搜索栏查询特定的教师账户。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_27.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_27.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>修改教师信息。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_28.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_28.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>点击删除按钮可以删除帐户。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_29.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_29.png" alt=""></a>
                      </p>
                      <p>可以输入工号／学号／姓名 进行查找</p>
                      <p>点击用户的编辑信息，可以修改用信息。修改密码栏目可以为用户重置密码。</p>
                      <p>
                        注意：
                        <br>
                        编辑用户可以修改用户信息，但是不能在角色间转换。
                        <br>如果要修改用户角色，可以先删除用户，再选择新的角色重新添加。</p>
                      <h2 id="试验资源管理">试验资源管理</h2>
                      <p>实验资源包括：</p>
                      <ul class="doc-ul">
                        <li>实验室</li>
                        <li>实验室所支持的实验</li>
                        <li>实验支持的课程</li>
                      </ul>
                      <p>
                        所以配置资源应当遵循
                        <strong>实验室－实验－课程</strong>
                        的顺序。
                      </p>
                      <h3 id="实验室配置管理">实验室配置管理</h3>
                      <p>
                        实验室是实验中心的基本资源。实验室包含多台安装有LabShell的试验机，可以通过LabShell与LabConsole进行互动。
                        <br>实验室配置内容包括：</p>
                      <ul class="doc-ul">
                        <li>添加／删除实验室</li>
                        <li>
                          <p>设置／修改实验室编号、名称、容量、描述、状态等信息</p>
                        </li>
                        <li>
                          <p>查看实验室列表</p>
                        </li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_30.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_30.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>点击实验室列表右上角图标，添加实验室。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_31.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_31.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>
                          删除实验室。 注意，如果实验室已经有预约，则不能删除。
                          <br>删除已经使用过的实验室需要在学期生效之前进行。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_32.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_32.png" alt=""></a>
                      </p>
                      <p>** 确认删除实验室。</p>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_33.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_33.png" alt=""></a>
                      </p>
                      <p>** 被删除实验室从实验室列表中移除。</p>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_34.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_34.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>
                          从实验室列表中选定实验室，可以修改属性。
                          <br>可修改的属性包括，实验室名称、容量、描述、状态。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_35.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_35.png" alt=""></a>
                      </p>
                      <pre><code>实验室状态为开放，则可以通过预约日程表进行预约。反之不能。</code></pre>
                      <h3 id="实验配置管理">实验配置管理</h3>
                      <p>
                        实验是指实验中心所提供的基本实验类别。比如
                        <strong>“拉伸实验”</strong>
                        ,
                        <strong>“扭转实验”</strong>
                        等。
                      </p>
                      <ul class="doc-ul">
                        <li>添加／删除实验</li>
                        <li>设置／修改课程编号、名称、实验小组最少人数以及最大人数</li>
                        <li>为实验添加实验室。</li>
                      </ul>
                      <p>
                        实验通过配置实验室，和实验室产生关联。而通过在课程中配置实验，和课程产生关联。
                        <br>实验配置包括：</p>
                      <pre><code>注意：
    一个实验可以在多个实验室中进行。理论上一个实验室也可以支持多个实验。可以通过在实验配置弹出窗口中的实验室下拉菜单中获取配置支持本实验的实验室。
</code></pre>
                      <ul class="doc-ul">
                        <li>查看实验列表</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_37.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_37.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>添加新的实验</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_38.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_38.png" alt=""></a>
                      </p>
                      <p>** 在列表中可以看到新添加的两个实验</p>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_39.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_39.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>
                          修改实验描述信息。 实验属性包括试验名称、实验分组最少人数以及最大人数，实验室配置。
                          <br>从实验室配置的下拉菜单中可以得到当前实验中心所有的实验室。通过选择并添加实验室，可以设置实验室与实验的关联关系。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_40.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_40.png" alt=""></a>
                      </p>
                      <p>
                        ** 为两个新添加的实验都配置了实验室。该配置信息将在未来多次使用。
                        <br>
                        <a target="_blank" href="/images/doc/Snip20150605_41.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_41.png" alt=""></a>
                      </p>
                      <h3 id="课程配置管理">课程配置管理</h3>
                      <pre><code>注意：
课程是指实验中心提供的实验所需要支持的课程。
通过配置课程，实验总心可以通过班级与课程，获得实验列表，进一步获取可以进行该实验的实验室列表。
</code></pre>
                      <p>课程配置包括：</p>
                      <ul class="doc-ul">
                        <li>添加／删除课程</li>
                        <li>设置／修改课程编号、名称、开课单位</li>
                        <li>
                          <p>为课程添加实验</p>
                        </li>
                        <li>
                          <p>查看课程列表</p>
                        </li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_42.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_42.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>添加一门新的课程</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_44.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_44.png" alt=""></a>
                      </p>
                      <p>** 新添加的课程出现在列表中</p>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_45.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_45.png" alt=""></a>
                      </p>
                      <p>** 为新课程配置实验</p>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_46.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_46.png" alt=""></a>
                      </p>
                      <h2 id="学期班级管理">学期班级管理</h2>
                      <p>
                        基础设施建设完毕后，可以进行分学期的资源管理。
                        <br>
                        管理员可以配置新的学期。在当前学期结束后，管理员可以选择并设置时间段为未来时段的一个学期，设置为“当前学期”。LabConsole中所有关于班级、排课等管理都是基于当前学期的。
                      </p>
                      <h3 id="学期配置">学期配置</h3>
                      <ul class="doc-ul">
                        <li>学期班级-&gt;  配置新学期, 可以查看学期列表。仅有一个学期是当前学期。标注为”Current”.</li>
                      </ul>
                      <p>
                        可以在学期列表中查看已经配置完成的学期。所有学期中，最多只有一个学期是当前学期。在假期中，当前学期为空。
                        <br>未来的学期为“future” , 已经结束的学期为Past. 任何学期不能与当前学期冲突。</p>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_49.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_49.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>
                          添加新学期，设置学期名称，以及起止日期。注意日期不要与其他学期日期相冲突。虽然添加的时候系统并不会检查冲突状况。但是时间冲突的学期不能准时开启。这种方式下，系统允许用户设置多个呢能的学期起止点并最终选用其中一个。
                        </li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_50.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_50.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>
                          当当前日期处于
                          <strong>“当前学期”</strong>
                          和
                          <strong>将要设置的学期</strong>
                          之间的时候，可以开启新学期。将启用新的学期，并将所有预约、班级信息清空。使用开启新学期需要非常谨慎。
                        </li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_51.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_51.png" alt=""></a>
                      </p>
                      <h3 id="班级配置">班级配置</h3>
                      <p>
                        <strong>学期班级管理</strong>
                        帮助管理员查看和配置每个学期，以及学期内开课的班级。
                      </p>
                      <p>当前学期生效后，才可以配置本学期的班级。</p>
                      <p>
                        与教务处的逻辑相同，在LabConsole中，班级为特定课程在学期内的实现。比如课程号为“001234”材料力学课程，在2015-2016秋季学期开设“00123401”， “00123402”“00123403”三个班级，供不同的学生选修。
                      </p>
                      <p>管理员需要通过教师递交的申请确定本中心本学期支持的班级，并将班级信息录入到系统中。</p>
                      <ul class="doc-ul">
                        <li>点击查看本学期已经开设的班级列表</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_53.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_53.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>开设新的班级。新开设班级中，需要选择一门现有的课程，并选择授课教师。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_54.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_54.png" alt=""></a>
                      </p>
                      <p>** 添加的班级加入到班级列表中</p>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_55.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_55.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>可以对任何班级修改配置</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_56.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_56.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>没有预约纪录的班级可以删除</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_57.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_57.png" alt=""></a>
                      </p>
                      <pre><code>注意：
班级添加成功后，需要任课教师在教室管理平台上上传学生名单，LabConsole才能提供对班级实验完整的服务。
</code></pre>
                      <h2 id="实验室日程">实验室日程</h2>
                      <p>管理员可以通过实验室预约功能，为教师进行实验室预约，或者查看教师的预约。</p>
                      <h3 id="实验室日历">实验室日历</h3>
                      <p>按照年月日的顺序显示目前已经预约的实验室情况。</p>
                      <ul class="doc-ul">
                        <li>选择实验室日程计划，可以看到实验中心实验室的日程安排</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_58.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_58.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>点击到任何一空白日历，可以为教师添加预约。添加预约时，系统会自动筛选出教师－课程-实验- 实验室信息，便于用户填写</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_62.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_62.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>
                          预约成功后，可以在日程表中查看。
                          <br>蓝色表示开放学生预约，红色表示申请中尚未审批。绿色表示已经审批通过的教师班级预约</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_63.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_63.png" alt=""></a>
                      </p>
                      <p>点击查看已经通过审批的预约</p>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_64.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_64.png" alt=""></a>
                      </p>
                      <p>点击查看尚未通过审批的预约。管理员可以在此界面上审批通过并分配实验员</p>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_65.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_65.png" alt=""></a>
                      </p>
                      <p>点击查看开放学生预约的实验室。如果学生已经预约，可以看到学生名单</p>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_66.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_66.png" alt=""></a>
                      </p>
                      <p>查看一月内的整体预约情况</p>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_67.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_67.png" alt=""></a>
                      </p>
                      <p>查看某一日的预约情况</p>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_68.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_68.png" alt=""></a>
                      </p>
                      <h3 id="实验室预约">实验室预约</h3>
                      <p>
                        可以帮助教师预约实验室。
                        <br>预约向导将筛选出与教师、课程、实验匹配的实验室供使用者勾选。</p>
                      <p>
                        <a href="http://localhost:4000/Users/amywang/Desktop//images/doc/Snip20150602_18.png" title="添加预约" class="fancybox" rel="article0">
                          <img src="/Users/amywang/Desktop//images/doc/Snip20150602_18.png" alt="添加预约"></a>
                        <span class="caption">添加预约</span>
                      </p>
                      <h3 id="预约审批">预约审批</h3>
                      <p>
                        教师和管理员的预约按照时间顺序列表待审批。
                        <br>管理员可以通过或者拒绝预约的申请。对于通过的申请，管理员需要从下拉菜单中选择实验教师。</p>
                      <ul class="doc-ul">
                        <li>
                          点击导航栏的
                          <strong>预约审批</strong>
                          进入预约审批清单，可以看到所有待审核的实验室申请
                        </li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_69.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_69.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>拒绝一个申请，将其从实验计划日程中删除</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_70.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_70.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>
                          批准一个申请，可以从下拉菜单中选择
                          <strong>实验教师</strong>
                          , 安排教师实验任务
                        </li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_71.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_71.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>
                          批准后名单从
                          <strong>尚未审批的名单</strong>
                          中去除，并进入
                          <strong>已经审批的名单</strong>
                          中
                        </li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_72.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_72.png" alt=""></a>
                      </p>
                      <p>** 已经审批的名单</p>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_76.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_76.png" alt=""></a>
                      </p>
                      <ul class="doc-ul">
                        <li>日程表中查看刚才审批通过的实验申请。已经变为绿色。</li>
                      </ul>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_73.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_73.png" alt=""></a>
                      </p>
                      <p>** 分日日程表中查看申请</p>
                      <p>
                        <a target="_blank" href="/images/doc/Snip20150605_74.png" title="" class="fancybox" rel="article0">
                          <img src="/images/doc/Snip20150605_74.png" alt=""></a>
                      </p>
                      <pre><code>注意：
实验教师登陆后可以看到自己的实验安排。
</code></pre>

                    </div>

                  </article>
                </section>
              </tab>
            </tabset>
          </div>

        </tab>

      </tabset>
    </div>
  </div>

  <lab-footer></lab-footer>