<lab-header></lab-header>
<div class="container">
  <div class="command-nav-container">
    <tabset>
      <tab name="">
        <tab-heading class="reservation" ui-sref="student-reservation">
          <span class="title">
            我的预约
            <!-- <label class="label label-success pull-right" style="margin-top:5px;margin-right:40px;">10</label>
          -->
        </span>
        <span class="info">预约和查看预约</span>
      </tab-heading>

    </tab>
    <tab name="" active="true">
      <tab-heading class="spaces myclass" >
        <span class="title">
          我的课程
          <!-- <label class="label label-success pull-right" style="margin-top:5px;margin-right:40px;">10</label>
        -->
      </span>
      <span class="info">我的课程和资源</span>
    </tab-heading>

    <div class="command-content-container user" style="background-color: #f1f1f1;">
      <tabset vertical="true" type="pills">
        <tab ng-repeat="course in courses" active="course.active" ng-click="view_exp(course)">
          <tab-heading>
            <span class="name">
              {{course.coursename}}/{{course.classnumber}}/{{course.teacher}}
            </span>
          </tab-heading>
          <div class="tableTitle">有 2 门实验课，已完成其中 1 门</div>
          <div class="tableContainer">
            <table class="table filterTable">
              <thead>
                <tr class="op-tr">
                  <th style="width: 15px;"></th>
                  <th style="width: 100px;">
                    <select name="" id="" class="form-control">
                      <option value="">全部</option>
                      <!-- <option value="">未完成实验</option>
                      <option value="">已完成实验</option> -->
                    </select>
                  </th>
                  <th style="width: 250px;"></th>
                  <th></th>
                  <th style="width: 10px;"></th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="tableContainer">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 25px;"></th>
                  <th style="width: 120px;">实验名</th>
                  <th style="width: 90px;">状态</th>
                  <th style="width: 90px;">虚拟实验</th>
                  <th style="width: 90px;">成绩</th>
                  <th style="width: 100px;">评语</th>
                  <th style="width: 200px;"></th>
                  <th style="width: 20px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="eachExpResult in exps">
                  <td style="width: 25px; border:none;"></td>
                  <td style="width: 60px;">
                    <span class="name">{{eachExpResult.expName}}</span>
                  </td>
                  <td style="width: 90px;">
                    <label class="label label-success" ng-if="eachExpResult.status=='COMPLETED'">{{eachExpResult.status|experimentStatus}}</label>
                    <label class="label label-warning" ng-if="eachExpResult.status=='SUBMITTED'">{{eachExpResult.status|experimentStatus}}</label>
                    <label class="label label-info" ng-if="eachExpResult.status=='IN_PROGRESS'">{{eachExpResult.status|experimentStatus}}</label>
                    <label class="label label-danger" ng-if="eachExpResult.status!='IN_PROGRESS'&&eachExpResult.status!='SUBMITTED'&&eachExpResult.status!='COMPLETED'">{{eachExpResult.status|experimentStatus}}</label>
                  </td>

                  <td style="width: 90px;">
                    <a class="code" target="_blank" href="{{eachExpResult.virtualExpLink}}" ng-show="eachExpResult.virtualExpLink!=undefined">虚拟实验</a>
                  </td> 
                  <td style="width: 120px;">
                    <span class="name">{{eachExpResult.experiment_record |isEmpty}}</span>
                  </td>
                  <td style="width: 100px;">
                    <span class="tel">{{eachExpResult.experiment_comment| isEmpty}}</span>
                  </td>
                  <td>
                    <div class="optionContainer" style="padding: 0;">
                      <button class="btn btn cdi-btn-default" ng-click="exp_detail(eachExpResult)" ng-if="eachExpResult.status=='IN_PROGRESS'||eachExpResult.status=='SUBMITTED'||eachExpResult.status=='COMPLETED'">查看详情</button>
                      <div style="width: 13px;height: 25px;float: right;"></div>
                      <button class="btn cdi-btn-grey btn-danger" ng-file-select ng-file-change="upload_assignment($files,eachExpResult.recordId, eachExpResult.clazzId, eachExpResult.expId)" ng-if="eachExpResult.status=='IN_PROGRESS'||eachExpResult.status=='SUBMITTED'">上传作业</button>
                      <div style="width: 13px;height: 25px;float: right;"></div>
                      <button class="btn cdi-btn-grey btn-danger" ng-if="(eachExpResult)==true" ng-click="generateTemplate(eachExpResult.id)">下载模板</button>
                    </div>
                  </td>
                  <td style="width: 20px; border:none;"></td>
                </tr>
              </tbody>
            </table>
          </div>

        </tab>

      </tabset>
    </div>
  </tab>

</tabset>
</div>
</div>

<lab-footer></lab-footer>