<lab-header></lab-header>
<div class="container">
  <div class="command-nav-container">
    <tabset>
      <tab name="">
        <tab-heading class="reservation" >
          <span class="title">
            我的预约
            <!-- <label class="label label-success pull-right" style="margin-top:5px;margin-right:40px;">10</label>
          -->
        </span>
        <span class="info">预约和查看预约</span>
      </tab-heading>
      <div class="command-content-container user" style="background-color: #f1f1f1;">
        <tabset vertical="true" type="pills">
          <tab ng-click="loadCalendar()">
            <tab-heading>
              <span class="name">我的预约日历</span>
            </tab-heading>
            <div class="tableContainer" style="width:900px;">
              <table class="table">
                <thead>
                  <tr class="op-tr">
                    <th style="width: 15px;"></th>

                    <th style="width: 90px;">
                      <input type="checkbox" checked="" readonly="">
                      <span class="calendar-label approved">审核通过</span>
                    </th>
                    <th style="width: 90px;">
                      <input type="checkbox" checked="" readonly="">
                      <span class="calendar-label rejected">已拒绝的</span>
                    </th>
                    <th style="width: 525px; text-align:right;"></th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tableTitle" style="margin-top:20px;">

              <div class="calendar" ui-calendar="uiConfig.calendar"  ng-model="eventSources" calendar="myCalendar"></div>
            </div>
          </tab>
          <tab ng-click="load('grabRes','all')">
            <tab-heading ng-click="load('grabRes','all')">
              <span class="name">开放预约的实验室</span>
            </tab-heading>
            <div class="tableContainer">
              <table class="table filterTable">
                <thead>
                  <tr class="op-tr">
                    <th style="width: 15px;"></th>
                    <th style="width: 100px;">
                      <!--  <select name="" id="" class="form-control">
                      <option value="">全部</option>
                      <option value="">流体实验</option>
                      <option value="">转动实验</option>
                      <option value="">固体实验</option>
                    </select>
                    -->
                  </th>
                  <th style="width: 250px;"></th>
                  <th></th>
                  <th style="width: 10px;"></th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="cdi-pager">

            <pager total-items="map.grabRes.data.totalItemNum" ng-model="map.grabRes.data.curPageNum" ng-change="pageChanged('ADMIN')" next-text="下一页" previous-text="上一页" ></pager>

            <span class="pager-text">
              共 {{ map.grabRes.data.totalItemNum}} 个开放的预约, &nbsp;当前第 {{ map.grabRes.data.curPageNum }} 页  共 {{ map.grabRes.data.totalPageNum}}  页
            </span>

          </div>
          <div class="tableContainer">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 25px;"></th>
                  <th style="width: 106px;">日期</th>
                  <th style="width: 133px;">实验时段</th>
                  <th style="width: 115px;">实验</th>
                  <th style="width: 106px;">实验室</th>

                  <th style="width: 20px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="record in map.grabRes.data.data">
                  <td style="width: 25px; border:none;"></td>
                  <td style="width: 106px;">
                    <span class="code">{{record.applyDate}}</span>
                  </td>
                  <td style="width: 133px;">
                    <span class="name">{{record.slot.title  }}</span>
                  </td>
                  <td style="width: 115px;">
                    <span class="code">{{record.experiment.name}}</span>
                  </td>
                  <td style="width: 106px;">
                    <span class="name">{{record.lab.name}}</span>
                  </td>
                  <td>
                    <div class="optionContainer" style="padding: 0;">
                      <button class="btn btn cdi-btn-default" ng-click="grab(record)">预定实验</button>
                    </div>
                  </td>
                  <td style="width: 20px; border:none;"></td>
                </tr>
              </tbody>
            </table>

          </div>

        </tab>

        <tab disabled="true">
          <tab-heading>
            <span class="name">我的所有预约记录</span>
          </tab-heading>

        </tab>

        <tab class="sub" ng-click="load('reservation','clazz')">
          <tab-heading >
            <span class="name">老师预约的实验</span>
          </tab-heading>
          <div class="tableContainer">
            <table class="table filterTable">
              <thead>
                <tr class="op-tr">
                  <th style="width: 15px;"></th>
                  <th style="width: 400px;">
                    <!--  <button class="btn cdi-btn-default">取消预约</button>
                  -->
                </th>
                <th style="width: 250px;"></th>
                <th></th>
                <th style="width: 10px;"></th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="cdi-pager">

          <pager total-items="map.reservation.clazz.data.totalItemNum" ng-model="map.reservation.clazz.data.curPageNum" ng-change="pageChanged('ADMIN')" next-text="下一页" previous-text="上一页" ></pager>

          <span class="pager-text">
            共 {{ map.reservation.clazz.data.totalItemNum}} 个班级预约, &nbsp;当前第 {{ map.reservation.clazz.data.curPageNum }} 页  共 {{ map.reservation.clazz.data.totalPageNum}}  页
          </span>

        </div>
        <div class="tableContainer">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 30px;"></th>
                <th style="width: 90px;">预约号</th>
                <th style="width: 120px;">日期</th>
                <th style="width: 142px;">时间段</th>
                <th style="width: 120px;">实验室</th>
                <th style="width: 150px;">实验任务</th>
                <th style="width: 150px;">虚拟实验</th>
                <th style="width: 120px;">状态</th>

                <th style="width: 20px;"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="res in map.reservation.clazz.data.data">
                <td style="width: 25px; border:none;"></td>
                <td style="width: 90px;">
                  <span class="id">{{res.id}}</span>
                </td>
                <td style="width: 120px;">
                  <span class="id">{{res.applyDate}}</span>
                </td>
                <td style="width: 133px;">
                  <span class="code">{{res.slot.title }}</span>
                </td>
                <td style="width: 120px;">
                  <span class="date">{{res.lab.name}}</span>
                </td>
                <td style="width: 150px;">
                  <span class="date">{{res.experiment.name}}</span>
                </td>
                <td style="width: 150px;">
                  <a class="code" target="_blank" href="{{res.experiment.virtualExpLink}}" ng-show="res.experiment.virtualExpLink!=undefined">虚拟实验</a>
                </td>
                <td style="width: 100px;">
                  <span class="date">{{res.status | reservationStatus}}</span>
                </td>
                <td style="width: 250px;">
                  <button  class="btn cdi-btn-default" ng-click="form(res)"> <i class="icon-pencil"></i>
                    详情
                  </button>

                </td>

                <td style="width: 20px; border:none;"></td>
              </tr>
            </tbody>
          </table>
        </div>

      </tab>

      <tab class="sub" ng-click="load('reservation','student')">
        <tab-heading >
          <span class="name">自行预约的实验</span>
        </tab-heading>
        <div class="tableContainer">
          <table class="table filterTable">
            <thead>
              <tr class="op-tr">
                <th style="width: 15px;"></th>
                <th style="width: 400px;">
                  <!-- <button class="btn cdi-btn-default">取消预约</button>
                -->
              </th>
              <th style="width: 250px;"></th>
              <th></th>
              <th style="width: 10px;"></th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="cdi-pager">

        <pager total-items="map.reservation.student.data.totalItemNum" ng-model="map.reservation.student.data.curPageNum" ng-change="pageChanged('ADMIN')" next-text="下一页" previous-text="上一页" ></pager>

        <span class="pager-text">
          共 {{ map.reservation.student.data.totalItemNum}} 个自行预约记录, &nbsp;当前第 {{ map.reservation.student.data.curPageNum }} 页  共 {{ map.reservation.student.data.totalPageNum}}  页
        </span>

      </div>
      <div class="tableContainer">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 30px;"></th>
              <th style="width: 90px;">预约号</th>
              <th style="width: 120px;">日期</th>
              <th style="width: 142px;">时间段</th>
              <th style="width: 120px;">实验室</th>
              <th style="width: 150px;">实验任务</th>
              <th style="width: 150px;">虚拟实验</th>
              <th style="width: 120px;">状态</th>

              <th style="width: 20px;"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="res in map.reservation.student.data.data">
              <td style="width: 25px; border:none;"></td>
              <td style="width: 90px;">
                <span class="id">{{res.id}}</span>
              </td>
              <td style="width: 120px;">
                <span class="id">{{res.applyDate}}</span>
              </td>
              <td style="width: 133px;">
                <span class="code">{{res.slot.title }}</span>
              </td>
              <td style="width: 120px;">
                <span class="date">{{res.lab.name}}</span>
              </td>
              <td style="width: 150px;">
                <span class="date">{{res.experiment.name}}</span>
              </td>
              <td style="width: 150px;">
                <a class="code" target="_blank" href="{{res.experiment.virtualExpLink}}" ng-show="res.experiment.virtualExpLink!=undefined">虚拟实验</a>
              </td>
              <td style="width: 100px;">
                <span class="date">{{res.status | reservationStatus}}</span>
              </td>
              <td style="width: 250px;">
                <button  class="btn cdi-btn-default" ng-click="form(res)"> <i class="icon-pencil"></i>
                  详情
                </button>
                <button  class="btn cdi-btn-default" ng-click="cancel(res)">删除</button>
              </td>

              <td style="width: 20px; border:none;"></td>
            </tr>
          </tbody>
        </table>
      </div>

    </tab>

  </tabset>
</div>
</tab>
<tab name="">
<tab-heading class="spaces myclass" ui-sref="student-class">
  <span class="title">
    我的课程
    <!-- <label class="label label-success pull-right" style="margin-top:5px;margin-right:40px;">10</label>
  -->
</span>
<span class="info">我的课程和资源</span>
</tab-heading>
</tab>

</tabset>
</div>
</div>

<lab-footer></lab-footer>